@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }

  .image-text-container {
    flex-direction: column;
    text-align: center;
  }

  .text-content h2 {
    font-size: 24px;
  }

  .text-content p {
    font-size: 14px;
  }

  .imgg {
    height: 40px;
  }

  .wall {
    width: 100%;
    height: auto;
  }
 
}
#wp{
  margin-top: 60px;
}
